################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CertGen/bin
/CertGen/obj
/Prediktor.UA.Client/bin
/Prediktor.UA.Client/obj
/Prediktor.UA.Console/bin
/Prediktor.UA.Console/obj
/CertGenCore/obj
/CertGenCore/bin/Debug/net5.0
/CertGenCore/bin/Debug/net6.0
